

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: 'MinionProRegular';
    background-color: #FF0000;
    
}

@font-face {
    font-family: "MinionProRegular";
    src: local("MinionProRegular"),
      url("../src/assets/MinionProRegular.otf") format("truetype");
  }